@charset "UTF-8";


/* Typical Device Breakpoints 
--------------------------------------
Pequenas tels : até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
  }


@media screen and (min-width: 768px) and (max-width: 992px) {


    body {      /*  gradiente de cores de fundo tela tablet  */

        background-image: linear-gradient(to top,  #49a09d, #5f2c82 );
    }
    section#login {

        width: 80vw;
    }

    section#login > div#imagem {

             float: left;
             width:30%;
             heigth:100%;

    }


    section#login> div#formulario {

            float: right;
            width: 70%;




    }

}

    @media screen and (min-width: 992px)  {

        body {    /*  gradiente de cores de fundo tela grande  */

            background-image: linear-gradient(to top,  #49a09d, #5f2c82 );
        }

        section#login {
    
            width: 950px;
        }
    
       
        section#login > div#imagem {

            float: right;
            width: 50%;
            height:100%;

        }


         section#login> div#formulario {

           float: left;
           width: 50%;
    
        }

        div#formulario > h1  {

            font-size: 2.0em;
        }



        div#formulario > p  {

            font-size: 1.2em;
        }

    }

